# Ignorar a pasta de compilação (MUITO IMPORTANTE)
/target/

# Arquivos de configuração da IDE (VS Code / Eclipse / IntelliJ)
.settings/
.classpath
.project
.factorypath
.vscode/
.idea/
*.iml

# Arquivos do sistema
.DS_Store
Thumbs.db

# Log do Spring Boot
*.log
